 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


#container {
  background-color: #87ceeb;
  margin: 20px auto;
  padding: 20px;
  text-align: -webkit-center;
  vertical-align: middle;
  width: 500px;
}

.box {
  width: 200px;
}
